# r files
mailchimp-welcomemail/.RData
mailchimp-welcomemail/.RHistory

# login data for email
mailchimp-welcomemail/aux_data/maillogin.txt

# api info
mailchimp-welcomemail/aux_data/mcapi.txt
correlaid-analytics/aux_data/mcapi.txt

# twitter credentials
correlaid-analytics/aux_data/twitter_credentials

# fb oauth
correlaid-analytics/aux_data/fb_oauth
correlaid-analytics/aux_data/facebook_credentials 

# send to
mailchimp-welcomemail/sendto_*

# log files
mailchimp-welcomemail/logs/log_get_new_subs.txt
mailchimp-welcomemail/logs/log_send_mails.txt

.Rproj.user
correlaid-analytics/env.yml
.Rhistory

# renviron and slackr
correlaid-analytics/.slackr
correlaid-analytics/.Renviron

